<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ExploitFrontier Smoke Suite">
    <listeners>
        <listener class-name="com.ef.smoke.utils.TestListener"/>
    </listeners>
    <test name="Smoke Tests" preserve-order="true">
    <groups>
            <run>
                <include name="smoke"/>
            </run>
    </groups>
        <packages>
            <package name="com.ef.smoke"/>
        </packages>
    </test>
</suite>